@import '../../global.scss';

.profile {
	.image-gallery-image {
		width: 100%;
		height: 46vh;
	}

	.body {
		padding-top: 0.5em;
		padding-left: 20px;
		padding-right: 20px;

		.name {
			width: 100%;
			font-size: 1.3em;
			font-family: 'Gotham Rounded Bold';
			color: #464646;
			margin-bottom: 4px;
		}

		.location {
			width: 100%;
			color: #a9a9a9;
			margin-bottom: 10px;
		}

		.bio {
			width: 100%;
			text-align: justify;
			color: #7d7d7d;
			font-size: 1em;
			margin-bottom: 30px;
		}
	}

	.interests {	
		.header {
			i {
				margin-right: 3px;
			}

			width: 100vw;
			height: 38px;
			padding-top: 1px;
			padding-bottom: 1px;
			padding-left: 10px;
			padding-right: 10px;
			background: #f7f7f7;
			font-size: 1.5em;
			display: block;
		}

		.list {
			padding-top: 5px;
			padding-left: 25px;
			padding-right: 25px;
			height: 80px;
			overflow-x: auto;

			.interest {
				display: inline-block;
				margin-right: 25px;
				.logo {
					width: 52px;
					height: 52px;
					border-radius: 50%;
				}

				.name {
					text-align: center;
				}
			}
		}
	}
}
