@import '../../global.scss';

.buy {
  .search {
    width: 100%;
    height: 500px;
    background: url('http://wallpaper.ge/download/luxury_house-1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    h2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 150px;
      color: #FFF;
    }

    .segmented {
      position: absolute;
      left: 0;
      right: 0;
      top: 200px;
      display: inline-block;

      .label {
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFF;
        cursor: pointer;
        float: left;
        padding: 8px;
        text-align: center;
        width: 80px;
      }

      :first-child .label {
        border-radius: 5px 0 0 5px;
      }

      :last-child .label {
        border-radius: 0 5px 5px 0;
        border-right-style: solid;
      }

      input {
        display: none
      }

      input:checked + .label {
        background: map-get($theme-colors, 'primary');
        color: #fff;
      }
    }

    .location {
      position: absolute;
      left: 0;
      right: 0;
      top: 250px;
      width: 400px;
      margin-left: auto;
      margin-right: auto;

      input {
        width: 350px;
        border: none;
        padding: 10px 10px 10px 10px;
      }

      button {
        width: 50px;
      }
    }
  }

  .content {
    width: 100%;
    padding-top: 75px;

    .property {
      height: 225px;
      width: 350px;
      margin-left: 15px;
      margin-right: 15px
    }
  }
}

@media (max-width: 413px) {
  .search {
    .location {
      width: 250px !important;

      input {
        width: 200px !important;
      }
    }
  }
}
