@import '../../global.scss';

.quick-replies {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 5px;
  bottom: 75px;
  z-index: 2;

  .quick-reply {
    background: map-get($theme-colors, 'primary');
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 12px;
    min-width: 50px;
  }
}

.robochat-fab {
  background-color: #d6bb64;
  background-position: 50%;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 9999;
}

.robochat-fab::before {
  content: "";
  position: relative;
  display: block;
}

.robochat-fab, .robochat-fab::before {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}

.robochat-fab .open-icon, .robochat-fab .close-icon {
  position: fixed;
  -webkit-transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
  transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
}

.robochat-fab .close-icon {
  right: 25px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

.robochat-fab.active .close-icon {
  opacity: 1 !important;
}

.robochat-fab.active .open-icon {
  opacity: 0 !important;
}

.robochat-fab .open-icon {
  right: 5px;
  bottom: 5px;
  width: 100px;
  height: 100px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}

.chat-window {
  z-index: 9999;
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chat-window.inactive {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.chat-window .header {
  background: #d6bb64;
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.chat-window .header .picture {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
  width: 48px;
  height: 48px;
}

.chat-window .header .name {
  align-self: center;
  padding: 10px;
  flex: 1;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.chat-window .header .close {
  width: 40px;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.chat-window .header .close img {
  width: 100%;
  height: 100%;
  padding: 13px;
  box-sizing: border-box;
}

.message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 30px;
}

.message-list .message {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

.message-list .message .text {
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased
}

.message-list .message.sent {
  justify-content: flex-end;
}

.message-list .message.sent .text {
  color: white;
  background-color: #606061;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.message-list .message.received .text {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}

.message-list .message .avatar {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.message-list .message.sent .avatar {
  display: none;
}

.user-input {
  min-height: 55px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #f4f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

.user-input.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.user-input .text {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.user-input .text:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(86, 88, 103, 0.3);
  outline: none;
}

@media (max-width: 450px) {
  .chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }

  .chat-window {
    transition: 0.1s ease-in-out;
  }

  .chat-window.closed {
    bottom: 0px;
  }

  .header {
    border-radius: 0px;
  }

  .message {
    width: 80%;
  }
}

.typing-indicator {
  animation: 2s bulge infinite ease-out;

  span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
